<svg width="1000" height="1000">
  <circle cx="250" cy="200" r="125" fill="pink" />
  <ellipse cx="170" cy="325" rx="65" ry="30" fill="red"/>
  <ellipse cx="325" cy="325" rx="65" ry="30" fill="red"/>
  <ellipse cx="310" cy="175" rx="20" ry="40" fill="black"/>
  <ellipse cx="200" cy="175" rx="20" ry="40" fill="black"/>
  <ellipse cx="199.5" cy="175" rx="15" ry="35" fill="blue"/>
  <ellipse cx="309.5" cy="175" rx="15" ry="35" fill="blue"/>
  <circle cx="255" cy="250" r="10" fill="deeppink" opacity="0.8"/>
  <ellipse cx="199.5" cy="170" rx="18" ry="30" fill="black"/>
  <ellipse cx="309.5" cy="170" rx="18" ry="30" fill="black"/>
  <ellipse cx="199.5" cy="165" rx="9.5" ry="22" fill="white"/>
  <ellipse cx="309.5" cy="165" rx="9.5" ry="22" fill="white"/>
  <ellipse cx="309.5" cy="250" rx="20" ry="10" fill="deeppink" opacity="0.5"/>
  <ellipse cx="199" cy="250" rx="20" ry="10" fill="deeppink" opacity="0.5"/>
  <ellipse cx="120" cy="200" rx="50" ry="40" fill="pink"/>
  <ellipse cx="380" cy="200" rx="50" ry="40" fill="pink"/>
  <rect x="55" y="355" width="400" height="50" fill="springgreen"/>
  <line x1="55" y1="50" x2="50" y2="200" stroke="pink" stroke-width="8"/>
  <line x1="25" y1="50" x2="100" y2="100" stroke="pink" stroke-width="8"/>s
